//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file,
// each .scss file has a @import "base" declaration.


//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.
$round-to-nearest-half-line: true;

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

// First, let's create some font stacks.
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $helvetica; // The font family set on the html element.
$font-body:        $helvetica;

//
// Colors, etc.
//

$page:  #dddddd;
$black: #222222;
$white: #f5f5f5;

//
// Custom minins
//

@mixin centre($axis: "both"){
    position:absolute;
    @if $axis == "y"{
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis == "x"{
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis == "both"{
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}



//
// Partials to be shared with all .scss files.
//

@import "compass/reset";
@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "compass/layout/stretching"; // Helps with 100% height.
